
<div class="jumbotron">
  <div class="container">

    <h1 class="display-4">Welcome</h1>
    <!--    <hr class="my-4">-->
    <p class="lead">I made this gaming site for my son, Lucas.  He's amazing and will be tackling the more difficult levels in no time.  Review the gaming options below and click start game to start playing.  Enjoy!</p>
    <p><a class="btn btn-secondary" (click)="showMore()" role="button" [routerLink]="['/info']">Learn more »</a></p>

  </div>

</div>

<app-gameselector></app-gameselector>




