<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Math Game</h2>
      <p>Lets test your math skills!  Click the button below to get started.</p>
      <a class="btn btn-primary btn-md" role="button" [routerLink]="['/game-a']">Start Game</a>
    </div>
    <div class="col-md-4">
      <h2>Another Game</h2>
      <p>This is a future game that is going to be absolutely amazing!</p>
      <a class="btn btn-secondary btn-md disabled" href="/" role="button">Coming Soon</a>
    </div>
    <div class="col-md-4">
      <h2>Wow</h2>
      <p>Some game details here.</p>
      <a class="btn btn-secondary btn-md disabled" href="/" role="button">Coming Soon</a>
    </div>
  </div>

  <hr>

</div>
