<div class="container">
  <div class="row-full">
    <app-nav></app-nav>

    <div class="jumbotron">
      <div class="container">
      <h1 class="display-4">Welcome</h1>
      <p class="lead">I made this gaming site for my son, Lucas.  He's amazing and will be tackling the more difficult levels in no time.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Learn more »</a></p>
      <hr class="my-4">
        <p>Review the gaming options below and click Start Game to start playing.  Enjoy!</p>

      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Math Game</h2>
          <p>Lets test your math skills!  Click the button below to get started.</p>
          <a class="btn btn-primary btn-md" href="#" role="button">Start Game</a>
        </div>
        <div class="col-md-4">
          <h2>Another Game</h2>
          <p>This is a future game that is going to be absolutely amazing!</p>
          <a class="btn btn-primary btn-md" href="#" role="button">Start Game</a>
        </div>
        <div class="col-md-4">
          <h2>Wow</h2>
          <p>Some game details here.</p>
          <a class="btn btn-primary btn-md" href="#" role="button">Start Game</a>
        </div>
      </div>

      <hr>

    </div>

  </div>
</div>
